---
import Layout from '../components/layout.astro';
---

<style>
.steps {
  background: var(--light);
  border-bottom: 1px solid var(--lightBorder);
  border-top: 1px solid var(--lightBorder);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.button {
  background: var(--primary);
  border-radius: 4px;
  color: var(--button);
  display: inline-block;
  font-weight: 600;
  margin-top: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: max-content;
}
</style>

<Layout
  title="ROHOGAKA INC"
  description="Turnkey solutions for startups and SaaS providers"
  home
>
  <main class="steps">
    <section class="step">
      <h2 class="stepHeading">24/7 Customer Support</h2>
      <p>
        <strong>Round the clock support</strong> on your websites with <3 mins response time. Businesses don't sleep but you need to, we have you covered.</strong>
      </p>
      <a href="/deploy-previews" class="button">
        Learn more <span class="sr-only">about Deploy Previews</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Community Management</h2>
      <p>
        Creating and managing large communities for Gaming and Crypto projects and moderating them round the clock, setting a <strong>fun  and enjoyable culture to thrive in.</strong>

      </p>
      <a href="/instant-rollbacks" class="button">
        Learn more
        <span class="sr-only">about Instant Rollbacks</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Ambassadors and Role Models</h2>
      <p>
        Positive contributors leading the charge on conversations to create a wholesome environment. Ambassadors also assist with <strong>FUD and negativity</strong> and discharging loaded questions safely and effectively.
      </p>
      <a href="/functions" class="button">
      Learn more
      <span class="sr-only">about Netlify Functions</span>
      </a>
    </section>

    <section class="step">
      <h2 class="stepHeading">Websites & Social Media Management</h2>
      <p>
        <strong>Beautifully handcrafted websites</strong> aimed at showcasing what your business does best. <strong>Complete 360ยบ presence</strong> on Social Media Websites fitted with the right SEO strategy to boost your rankings. 
      </p>
      <a href="/netlify-forms" class="button">
        Learn more <span class="sr-only">about Netlify Forms</span>
      </a>
    </section>
  </main>
</Layout>
